<p class="text-center"><span class="fs-4">Contact<br></span></p>
<p class="fs-4 text-center" >Adresse email </p>
<div class="card">
  <div class="card-body">
    <p class="fs-5 text-center">mozardus91@gmail.com</p>
  </div>
</div>
<!-- <p class="description_1">Durant cette période, je suis une formation en BTS Services Informatiques aux Organisations (SIO) option SLAM.</p> -->
<p class="fs-4 text-center">Nom, Prénom</p>
<div class="card">
  <div class="card-body">
    <p class="fs-5 text-center">MOKDAD Zakari</p>
  </div>
</div>
<!-- <p class="description_1">Lors de ma première année, j'ai d'abbord fait une licence en MPI (Mathématique Physique et Informatique), puis je me suis orienté vers une licence MI (Mathématiques Informatique).</p> -->
<p class="fs-4 text-center">Adresse</p>

<div class="card">
  <div class="card-body">
    <p class="fs-5 text-center"></p>
</div>
<!-- <p class="description_1">J'ai passé mon baccalauréat scientifique en spécialité Mathématique au lycée LAKANAL de la ville de Sceaux.</p> -->
<p class="fs-4 text-center"><span class="date">Etudiant à la fdme de Massy</span></p>
<div class="card">
  <div class="card-body">
    <p class="fs-5 text-center">1 Rue Galvani Bât A, 91300 Massy</p>
</div>
<!-- <div class="card">
  <div class="card-body">
    <p class="fs-5">La Faculté des Métiers d’Essonne à été créé en 2005 à l'issue de la fusion entre la Chambre de Commerce et d’Industrie de l’Essonne (CCIE) et la Chambre de Métiers et de l’Artisanat de l’Essonne (CMAE).
      Ce CFA est est un formidable outil de formation au service des entreprises, des jeunes, des salariés et des demandeurs d’emploi. Il est répandu sur trois sites, Bondoufle, Évry et Massy.</p>
      <p class="fs-5">Je suit une formation de BTS Services Informatiques aux Organisations (SIO) Option SLAM Solutions Logicielles et Applications Métiers sous forme d'une alternance au rythme d'une semaine sur deux en entreprise.
        Au cours de cette formation, je souhaite participer à la production et à la fourniture de services, ainsi que développer, adapter et maintenir des solutions applicatives</p>
  </div>
</div> -->

