<p class="text-center"><span class="parcours">Voici mon parcours scolaire<br></span></p>
<p class="title">Faculté des Métiers d’Essonne, Massy </p>
<p class="date">2021 à 2023</p>
<div class="card">
  <div class="card-body">
    <p class="description_1">Durant cette période, je suis une formation en BTS Services Informatiques aux Organisations (SIO) option SLAM.</p>
  </div>
</div>
<!-- <p class="description_1">Durant cette période, je suis une formation en BTS Services Informatiques aux Organisations (SIO) option SLAM.</p> -->
<p class="title">Université Paris Saclay, Gif-sur-Yvette</p>
<p class="date">2019 à 2021</p>
<div class="card">
  <div class="card-body">
    <p class="description_1">Lors de ma première année, j'ai d'abbord fait une licence en MPI (Mathématique Physique et Informatique), puis je me suis orienté vers une licence MI (Mathématiques Informatique).</p>
  </div>
</div>
<!-- <p class="description_1">Lors de ma première année, j'ai d'abbord fait une licence en MPI (Mathématique Physique et Informatique), puis je me suis orienté vers une licence MI (Mathématiques Informatique).</p> -->
<p class="title">Lycée LAKANAL, Sceaux - Baccalauréat scientifique</p>
<p class="date">2018</p>
<div class="card">
  <div class="card-body">
    <p class="description_1">J'ai passé mon baccalauréat scientifique en spécialité Mathématique au lycée LAKANAL de la ville de Sceaux.</p>
  </div>
</div>
<!-- <p class="description_1">J'ai passé mon baccalauréat scientifique en spécialité Mathématique au lycée LAKANAL de la ville de Sceaux.</p> -->
<p class="text-center mt-5"><span class="date">C'est quoi le BTS SIO?</span></p>
<div class="card">
  <div class="card-body">
    <p class="description_1">La Faculté des Métiers d'd’Essonne à été créé en 2005 à l'issue de la fusion entre la Chambre de Commerce et d’Industrie de l’Essonne (CCIE) et la Chambre de Métiers et de l’Artisanat de l’Essonne (CMAE).
      Ce CFA est est un formidable outil de formation au service des entreprises, des jeunes, des salariés et des demandeurs d’emploi. Il est répandu sur trois sites, Bondoufle, Évry et Massy.</p>
      <p class="description_1">Je suit une formation de BTS Services Informatiques aux Organisations (SIO) Option SLAM Solutions Logicielles et Applications Métiers sous forme d'une alternance au rythme d'une semaine sur deux en entreprise.
        Au cours de cette formation, je souhaite participer à la production et à la fourniture de services, ainsi que développer, adapter et maintenir des solutions applicatives</p>
  </div>
</div>
<!-- <p class="description_1">La Faculté des Métiers d'd’Essonne à été créé en 2005 à l'issue de la fusion entre la Chambre de Commerce et d’Industrie de l’Essonne (CCIE) et la Chambre de Métiers et de l’Artisanat de l’Essonne (CMAE).
  Ce CFA est est un formidable outil de formation au service des entreprises, des jeunes, des salariés et des demandeurs d’emploi. Il est répandu sur trois sites, Bondoufle, Évry et Massy.</p>
<p class="description_1">Je suit une formation de BTS Services Informatiques aux Organisations (SIO) Option SLAM Solutions Logicielles et Applications Métiers sous forme d'une alternance au rythme d'une semaine sur deux en entreprise.
  Au cours de cette formation, je souhaite participer à la production et à la fourniture de services, ainsi que développer, adapter et maintenir des solutions applicatives</p> -->

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Option SISR</h5>
        <p class="card-text">L'option SLAM, signifie
          Solutions Logicielles et Applications Métier. Cette option offre à ces étudiants les compétances nénéssaires
        pour s'épanouir dans le domaine de la conception et la maintenance de programmes applicatifs. Cela signifie que
        les diplômés seront capables de gérer un parc informatique ou d’administrer un réseau au sein d’une entreprise.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Option SLAM</h5>
        <p class="card-text">L'option SLAM, signifie
          Solutions Logicielles et Applications Métier. Cette option offre à ces étudiants les compétances nénéssaires
        pour s'épanouir dans le domaine de la conception et la maintenance de programmes applicatifs. Cela signifie que
        les diplômés seront capables de gérer un parc informatique ou d’administrer un réseau au sein d’une entreprise.</p>
      </div>
    </div>
  </div>
</div>

<p class="text-center mt-5"><span class="date">Mon  parcours en entreprise</span></p>
<div class="card">
  <div class="card-body">
    <p class="description_1">Dans le cadre de mon contrat d'apprentissage, je passe une semaine sur deux en entreprise
      pour développer des compétances professionelles.
    </p>
      <p class="description_1">Je suit une développeuse en freelance pour mon alternance. Lors de
        mon expérience à ces cotés, elle m'a formé à travers des projets à la création
        d'applications web et mobile, en utilisant différents frameworks comme ionic ou firebase.
        J'ai réalisé des projets de réation d'application todolist, me permettant d'utiliser un
        outils de back-end, c'est à dire l'utilidation d'une base de donnée ou enregistrer ses
        information, comme Firebase.
        J'ai aussi eu à créer une application permettant le téléchargement de documents, pour que
        l'utilisateur envoie des fichiers ou images, et actuellement me forme à la création de
        login, pour limiter l'accès uniquement aux utilisateurs inscrits.
      </p>
  </div>
</div>
