<div class="container mb-5 mp-5">
  <h1 class="text-center"> <span class="highlight">Aperçu de mes projets</span></h1>
  <div class="row mt-5">
    <!--ONE-->
    <div class="col-lg-4 mt-2">
      <!--<a routerLink="ionic2">IONIC</a>-->
      <div class="stepBox">
        <h1></h1>
        <!--<P>Présentation de monparcours</P>-->
      </div>
    </div>
    <!--TWO-->
    <div class="col-lg-4 mt-2">
      <!--<a routerLink="flutter">FLUTTER</a>-->
      <div class="stepBox">
        <h2></h2>
        <!--<P>Présentation de mon entreprise</P>-->
      </div>
    </div>
    <!--THREE-->
    <div class="col-lg-4 mt-2">
      <!--<a routerLink="angular">ANGULAR</a>-->
      <div class="stepBox">
        <h3></h3>
        <!--<P>Présentation de mes projets</P>-->
      </div>
    </div>
    <!--THREE-->


    <div>
      <p class="fs-5">Je m'appelle Zakari Mokdad, j'ai 23 ans cette année, et je suis en 2e année
        de BTS SIO option SLAM.
      </p>
      <p class="fs-5"> Depuis plusieurs années déjà, je me suis investi dans l'informatique,
        et j'ai l'intention de poursuivre mes études vers une licence puis un master en informatique dans les années à venir.

      </p>
      <p class="fs-5">Dans le cadre de mon alternance, je réalise des projets pour mon employeur une semaine sur deux.
        En entreprise, j'ai été mis en charge de création de programmes avec des logiciels répondant à
        des critères précis, et étant
        compatibles avec mobiles et sites web. Après m'être familiarisé avec les outils de codage dans
        un premier temps, j'ai pu contribuer à mon employeur en répondant à ses exigences.</p>
        <p class="fs-5">Je manipule essentiellement les outils de codage Angular et ionic, ce qui
          corresponds aux codes html, css et javascript.
        </p>
        <p class="fs-5">Je suit une développeuse en freelance et au cours de mes projets, je doit réaliser
          un grand nombre de recherches en autonomie. Ce mode de travail fait refletter ma capacité à travailler
          en indépendance, ma motivation et ma passion pour le devloppement.
        </p>
        <p class="fs-5">Ce travail basé sur la recherche autonome m'a grandement familiarisé avec le mode
          de travail des développeurs, et m'a immergé dans un environnement ou je fait des projets chaque
          jours.
        </p>


    </div>



    <!--<div class="col-lg-8 mt-2">
      <a>. &nbsp; . &nbsp; .<br>Durant mon expérience en entreprise, j'ai apris à utiliser l'outil no-code Glideapps, permettant de créer une application mobile à travers une interface, plutôt qu'en codant. J'ai créé plusieurs applications comme une bibliothèque que l'on peut mettre à jour, une interface élève-professeur permettant d'envoyer des documents, une liste de loisirs avec une carte de géolocalisation pour chaque activité et leur prix...</a>
      <div class="stepBox">
        h7
      </div>
    </div>-->
  </div>
</div>
