<div class="banner">
  <div class="content">
    <h1 class="mb-5">Présentation de mon <br/> parcours.</h1>
    <a routerLink="projet">VISITER <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div class="mt-0" class="container mb-5 mp-5">
  <h3 class="text-center">Ce que vous trouverez ici :</h3>
  <div class="row mt-5">
    <!--ONE-->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>1</h1>
        <P>Présentation de mon parcours</P>
      </div>
    </div>
    <!--TWO-->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>2</h1>
        <P>Présentation de mon entreprise</P>
      </div>
    </div>
    <!--THREE-->
    <div class="col-lg-4 mt-2">
      <div class="stepBox">
        <h1>3</h1>
        <P>Présentation de mes projets</P>
      </div>
    </div>
  </div>
</div>
